body {
    width: 100%;
    margin: 0px;
}

#background-image div:first-child {
    display: flex;
    justify-content: center;
}

section {
    margin: 50px;
}

.card {
    height: 575px;
    width: fit-content;
    width: -moz-fit-content;
}


.card div:nth-child(2) {
    height: 140px;
    display: flex;
    flex-direction: column;
}

#product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#product-details div:first-child {
    display: flex;
    flex-direction: column;
}

#product-details {
    color: #212421;
}

strong {
    color: #0500a8;
    line-height: 1.5;
}

p {
    margin: 0px;
}


#cart-btns button {
    margin: 10px;
    width: 100%;
}

@media only screen and (max-device-width: 900px) {
    .card {
        flex-basis: 100%;
        height: 310px;
        border-bottom: 2px solid #f3f2f2;
        padding-bottom: 20px;
        padding-top: 15px;
    }

    img {
        height: 300px;
    }

    #product-image {
        float: left;
    }

    #product-details {
        float: right;
        width: 390px;
    }

    .card div:first-child {
        height: 300px;
    }

    strong {
        line-height: 2.0;
        font-size: 36px;
    }

    #product-details div p:nth-child(2) {
        font-size: 26px;
    }

    #product-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #cart-btns button {
        float: right;
        background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
        height: 30px;
        line-height: 1.5;
        border-radius: 3px;
    }

    #product-image img:first-child {
        width: 300px;
    }
}

@media only screen and (min-device-width: 900px) {
    .card {
        flex-basis: 30%;
        margin-bottom: 20px;
    }

    #product-details div:first-child {
        text-align: center;
    }

    #product-image img:first-child {
        width: 100%
    }

    #cart-btns button {
        height: 30px;
        background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
        border-radius: 5px;

    }
}
